// =======================
// Import a fancy font
// =======================
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400,italic);
@import './newsfeed';
@import './userInfo';
@import './createPost';
@import './vrmode';
// =======================
// VARIABLES
// =======================
$primary-color: black;
$secondary-color: #B364B4;
$tertiary-color: #A58DA5;
$accent-color: #726272;
$error-color: #FF5A00;

$black: #000000;
$white: #ffffff;

// Body
$font-stack: 'Open Sans', sans-serif;
$content-body-desktop-width: 0em 15em;
$content-body-laptop-width: 0em 7em;
$content-body-tablet-width: 0em 2em;
$content-body-mobile-width: 0em 0em;

// Title
$title-color: $primary-color;
$title-size: 2.25em;

// Navigation
$nav-color: $tertiary-color;
$nav-hover: $primary-color;
$nav-selected: $primary-color;
$nav-size: 1.25em;
$nav-height: 100px;

// Elements
h1, h2 {
  font-family: $font-stack;
  // text-transform: uppercase;
  color: $primary-color;
  font-weight: 400;
  margin : 0;
}

h3, h4, h5 {
  font-family: $font-stack;
  // text-transform: uppercase;
  color: $primary-color;
  font-weight: 400;
  margin: 0;
  // padding-left: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $secondary-color;
}

li {
  list-style: none;
}

p {
  margin: 0;
  font-size: .9em;
}

ul {
  margin: 0;
  margin-bottom: 0;
}
// =======================
// MAIN
// =======================
// .window {
//   height: 100%;
// }

html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: $font-stack;
  margin: 0px;
}
//hide enterVR and exitVR buttons
.top-hide {
  display: none;
}

.container {
  padding: 10px;
  width: 100%;
}

.content_body {
  display: inline-block;
  border-left: 2px dotted $accent-color;
  border-right: 2px dotted $accent-color;
  margin: $content-body-desktop-width;
  padding: 4em;
  padding-top: $nav-height;
  position: relative;
  height: auto;
  overflow: hidden;
}

.btn-primary {

  background-color:#fff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  // font-family:Arial;
  font-size:16px;
  // font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  margin-left:2px;
  // text-shadow:0px 1px 0px #ffffff;
}
.btn-primary:hover {
	background-color:#b3b3b3;
  color: white;
  transition: color 0.2s;
  transition: background-color 0.2s;
}
.btn-primary:active {
	position:relative;
	top:1px;
}

//
.mainNav {
  display: inline-flex;
  position: relative;
  // background-color: yellow;
  width: 100%;
  height: 50px;
  border-bottom: solid #e1e8ed 1px;
  // padding: 5px;
}

.navButtons {
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.glimpseLogo {
  margin-top: 5px;
  margin-left: 7px;
}

.searchBar {
  margin-top: 10px;
  position: absolute;
  right: 45%;
  top: 0;

}

.searchBarInput {
  position: relative;
  top: -2px;
  border-radius: 6px;
  border: 1px solid #e1e8ed;
  padding:9px 24px;
}

//----- Extends
%clearfix:after {
    display:block;
    clear:both;
    content:'';
}

//----- Grid System
$grid-spacing:0%;

.row {
    @extend %clearfix;

    & + & {
        margin-top:$grid-spacing;
    }
}

[class^="col-"] {
    float:left;
    margin-right:$grid-spacing;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    &:last-child {
        margin-right:0%;
    }
}

//----- Columns (Manual)
/*
.col-1  { width:5.583333333333333%; }
.col-2  { width:14.16666666666667%; }
.col-3  { width:22.75%; }
.col-4  { width:31.33333333333333%; }
.col-5  { width:39.91666666666667%; }
.col-6  { width:48.5%; }
.col-7  { width:57.08333333333333%; }
.col-8  { width:65.66666666666666%; }
.col-9  { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/

//----- Columns (Automatic)
.col-1   { width:(100% / 12) - ($grid-spacing * 11 / 12); }
.col-2   { width:(100% / 6) - ($grid-spacing * 10 / 12); }
.col-3   { width:(100% / 4) - ($grid-spacing * 9 / 12); }
.col-4   { width:(100% / 3) - ($grid-spacing * 8 / 12); }
.col-5   { width:(100% / 2.4) - ($grid-spacing * 7 / 12); }
.col-6   { width:(100% / 2) - ($grid-spacing * 6 / 12); }
.col-7   { width:(100% / 1.714285714285714) - ($grid-spacing * 5 / 12); }
.col-8   { width:(100% / 1.5) - ($grid-spacing * 4 / 12); }
.col-9   { width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12); }
.col-10  { width:(100% / 1.2) - ($grid-spacing * 2 / 12); }
.col-11  { width:(100% / 1.090909090909091) - ($grid-spacing * 1 / 12); }
.col-12  { width:100%; }
