#editProfile {

}

.text_content_edit_profile {
  width: 97%;
  // border-radius: 8px;
  background-color:#fff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-size:14px;
  padding:6px 3px 6px 3px;
  text-decoration:none;
  margin: 7px 0 7px 0;
}

.saveButton {
  margin-top: 10%;
}
.checkbox {
  margin-left: 5%;
}
