$primary-color: #3e5f60;
$secondary-color: #B364B4;



//nav bar--------------------------->
.navBar {
  color: black;
  box-sizing: border-box;
  display: inline-flex;
  // align-items: center;
  position: relative;
  // justify-content: center;
  text-align: center;
  width: 100%;
}

.tab {
  cursor: pointer;
  width: 100%;
  background-color: #b3b3b3;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  flex: 1;
  // margin-right: 4px;
  // border-right: 4px solid #ddd;
  margin-top: -2px;
  margin-left: -1px;
  margin-bottom: -5px;
}

.tab:last-child {
  margin-right: 0;

}

.tab:hover {
  color: white;
  transition: color 0.2s;
}

.react-tabs [role=tablist] {
    // border-top: 10px solid #ddd;

    // border-bottom: 1px solid #aaa;
    // margin: 0 0 10px;
    padding: 0;
  }

.react-tabs [role=tab] {
  display: inline-block;
  // border: 1px solid transparent;
  // border-right: 4px solid #ddd;
  margin-right: 4px;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}


.react-tabs [role=tab][aria-selected=true] {
    background: #fff;
    border-color: #aaa;
    color: black;
    margin-right: 4px;
    // border-right: 4px solid #ddd;
    // border-radius: 5px 5px 0 0;
    // -moz-border-radius: 5px 5px 0 0;
    // -webkit-border-radius: 5px 5px 0 0;
}
// .react-tabs:last-child {
//   border-right: none;
// }

//--------------------------->

.feed_content {
  width: 100%;
  // overflow: auto;
  // max-height: 100vh;
  // overflow: hidden;
  // height: 92vh;
}
//-------->
.list-item {
  position: relative;
  display: flex;
  padding: 7px;
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 5px solid #ddd;
  border-right: 4px solid #ddd;
  border-top: 5px solid #ddd;
  border-left: none;
  margin-left: -40px;
  margin-bottom: 0;

}

.list-item:first-child {
  border-top: none;
}

li {
  cursor: pointer;
}

.userPic {
  width:100%;
  min-width: 69px;
  max-width: 70px;
  border-radius: 50%;
  padding: 10px;
}

.componentInfo {
  padding: 10px;
}

.tab-view {
  height: 100%;
  // overflow-y: scroll;
  // max-height: 100vh;
}

.time {
  align-content: right;
}
