//nav bar--------------------------->
.navBar {
  color: black;
  box-sizing: border-box;
  display: inline-flex;
  // align-items: center;
  position: relative;
  // justify-content: center;
  text-align: center;
  width: 100%;
}

.tab {
  cursor: pointer;
  width: 100%;
}

.react-tabs [role=tablist] {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }

.react-tabs [role=tab] {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs [role=tab][aria-selected=true] {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
//--------------------------->

.feed_content {
  width: 100%;
}
