article  {
  // background: url(./icons/IMG_372404.jpg);
  // padding: 15%;
  text-align: center;
  margin-top: 6vh;

}
// .mainShit {
//     border-left: 15vw solid #ddd;
//     border-right: 15vw solid #ddd;
// }

.splashInfo {
  text-align: center;
  padding: 0 10% 0 10%;

}

.splashTitle {
  text-align: center;
  padding-bottom: 15px;
}
.splashFooter {
  text-align: center;
  padding-top: 15px;
}

// .sides {
//   background-color: #ddd;
// }
