article  {
  // background: url(./icons/IMG_372404.jpg);
  // padding: 15%;
  text-align: center;
  margin-top: 6vh;
}

.splashTitle {
  text-align: center;
  padding-bottom: 15px;
  color: #660066;
}

.splashInfo {
  text-align: center;
  padding: 0 10% 0 10%;
  color: #660066;
}

.splashFooter {
  text-align: center;
  margin-top: 100px;
  padding-top: 15px;
  color: #660066;
}

// .sides {
//   background-color: #ddd;
// }