.profPic {
  width:100%;
  max-width:200px;
  border-radius: 50%;
  padding: 10px;
}

.profile {
  color: black;
  box-sizing: border-box;
  // display: inline-flex;
  // align-items: center;
  position: relative;
  // justify-content: center;
  text-align: center;
  // width: 100%;
}

// .username {
//   width: 100%;
//   text-align: left;
// }
