.profPic {
  width:88%;
  max-width:210px;
  border-radius: 50%;
  padding: 5% 4% 5% 4%;

}

.picContainer {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  display: block;
}

.profile {
  color: black;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  justify-content: center;
}

.userContainer {
  background-color: #ddd;
  align-items: center;
  margin-right: -20px;

  // border-right: 10px solid #ddd;

  width: 100%;
  overflow-y: hidden;
  border-left: 10px solid #ddd;
}



.profileContainer {
  padding: 2% 4% 0% 4%;
  height: 93vh;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.profileInfo {
  // background-color: lightblue;
  border-top: solid #e1e8ed 1px;
  padding-top: 10px;
}

.username p {
  padding-bottom: 7%;
  font-size: .7em;
}

.username {
  padding: 7% 11% 0 11%;
//   width: 88%
}


.bio {


  border-top: solid #e1e8ed 1px;
  padding: 8% 11% 8% 11%;
  border-bottom: solid #e1e8ed 1px;
}

.profileButton {
  text-align: center;
  padding-bottom: 9%;
}

.editButton {
  // float: center;
  // padding-right: 4px;
  background-color:#fff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  // display:inline-block;
  cursor:pointer;
  color:#666666;
  // font-family:Arial;
  font-size:14px;
  // font-weight:bold;
  padding:6px 16px;
  text-decoration:none;
  // margin-left:2px;
}

.editButton:hover {
	background-color:#b3b3b3;
  color: white;
  transition: color 0.2s;
  transition: background-color 0.2s;
}
.editButton:active {
	position:relative;
	top:1px;
}

@media screen and (min-width: 1075px) {
    .userContainer {
        border-left: 8vw solid #ddd;
    }
}
